In [1]:
import pandas as pd

In [4]:
# Import our input dataset
df = pd.read_csv('Resources/CovidWorldWide.csv')
df.tail()

,ISO_Code,continent,Country,Date,TotalCase,NewCase,TotalDeath,NewDeath,TotalTest,NewTest,...,Aged_65_Older,Aged_70_Older,GDPperCapita,ExtremePovertyRate,DiabetesRate,FemaleSmokers,MaleSmokers,HandwashingFacilities,HospitalBedperThousand,LifeExpectancy
28339,ZWE,Africa,Zimbabwe,2020-07-03,617.0,12.0,7.0,0.0,32112.0,499.0,...,2.822,1.882,1899.775,21.4,1.82,1.6,30.7,36.791,1.7,61.49
28340,ZWE,Africa,Zimbabwe,2020-07-04,625.0,8.0,7.0,0.0,32845.0,733.0,...,2.822,1.882,1899.775,21.4,1.82,1.6,30.7,36.791,1.7,61.49
28341,ZWE,Africa,Zimbabwe,2020-07-05,698.0,73.0,8.0,1.0,33256.0,411.0,...,2.822,1.882,1899.775,21.4,1.82,1.6,30.7,36.791,1.7,61.49
28342,ZWE,Africa,Zimbabwe,2020-07-06,716.0,18.0,8.0,0.0,NaN,NaN,...,2.822,1.882,1899.775,21.4,1.82,1.6,30.7,36.791,1.7,61.49
28343,ZWE,Africa,Zimbabwe,2020-07-07,734.0,18.0,9.0,1.0,NaN,NaN,...,2.822,1.882,1899.775,21.4,1.82,1.6,30.7,36.791,1.7,61.49

In [6]:
df[df['Date'] == '2020-07-07']

,ISO_Code,continent,Country,Date,TotalCase,NewCase,TotalDeath,NewDeath,TotalTest,NewTest,...,Aged_65_Older,Aged_70_Older,GDPperCapita,ExtremePovertyRate,DiabetesRate,FemaleSmokers,MaleSmokers,HandwashingFacilities,HospitalBedperThousand,LifeExpectancy
179,AFG,Asia,Afghanistan,2020-07-07,33384.0,433.0,920.0,56.0,NaN,NaN,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.50,64.83
300,ALB,Europe,Albania,2020-07-07,2964.0,71.0,79.0,3.0,NaN,NaN,...,13.188,8.643,11803.431,1.1,10.08,7.1,51.2,NaN,2.89,78.57
485,DZA,Africa,Algeria,2020-07-07,16404.0,463.0,959.0,7.0,NaN,NaN,...,6.211,3.857,13913.839,0.5,6.73,0.7,30.4,83.741,1.90,76.88
601,AND,Europe,Andorra,2020-07-07,855.0,0.0,52.0,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,7.97,29.0,37.8,NaN,NaN,83.73
709,AGO,Africa,Angola,2020-07-07,353.0,7.0,19.0,0.0,NaN,NaN,...,2.405,1.362,5819.495,NaN,3.94,NaN,NaN,26.664,NaN,61.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27961,VNM,Asia,Vietnam,2020-07-07,369.0,14.0,0.0,0.0,NaN,NaN,...,7.150,4.718,6171.884,2.0,6.00,1.0,45.9,85.847,2.60,75.40
28034,ESH,Africa,Western Sahara,2020-07-07,519.0,0.0,1.0,0.0,NaN,NaN,...,NaN,1.380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.26
28123,YEM,Asia,Yemen,2020-07-07,1290.0,25.0,345.0,7.0,NaN,NaN,...,2.922,1.583,1479.147,18.8,5.35,7.6,29.2,49.542,0.70,66.12
28234,ZMB,Africa,Zambia,2020-07-07,1632.0,0.0,30.0,0.0,NaN,NaN,...,2.480,1.542,3689.251,57.5,3.94,3.1,24.7,13.938,2.00,63.89
28343,ZWE,Africa,Zimbabwe,2020-07-07,734.0,18.0,9.0,1.0,NaN,NaN,...,2.822,1.882,1899.775,21.4,1.82,1.6,30.7,36.791,1.70,61.49

In [7]:
df.dtypes

ISO_Code                   object
continent                  object
Country                    object
Date                       object
TotalCase                 float64
NewCase                   float64
TotalDeath                float64
NewDeath                  float64
TotalTest                 float64
NewTest                   float64
TestUnits                  object
StringencyIndex           float64
Date_FirstCase             object
DateSinceFirstCase          int64
Population                  int64
Population_Density        float64
AverageAge                float64
Aged_65_Older             float64
Aged_70_Older             float64
GDPperCapita              float64
ExtremePovertyRate        float64
DiabetesRate              float64
FemaleSmokers             float64
MaleSmokers               float64
HandwashingFacilities     float64
HospitalBedperThousand    float64
LifeExpectancy            float64
dtype: object

## Steps required Pre-Processing
* Take the data from the latest date (= Groupby)
* Drop ISO_Code, continent, Date, Country, NewCase, NewDeath
* Drop Null Values (Could we try the model without dropping null values?)

In [13]:
df2 = df[['TotalCase','TotalDeath','TotalTest', 'NewTest','TestUnits','StringencyIndex','Date_FirstCase','DateSinceFirstCase','Population','Population_Density','AverageAge','Aged_65_Older','Aged_70_Older','GDPperCapita','ExtremePovertyRate','DiabetesRate','FemaleSmokers','MaleSmokers','HandwashingFacilities','HospitalBedperThousand','LifeExpectancy']]
df2.head()

,TotalCase,TotalDeath,TotalTest,NewTest,TestUnits,StringencyIndex,Date_FirstCase,DateSinceFirstCase,Population,Population_Density,...,Aged_65_Older,Aged_70_Older,GDPperCapita,ExtremePovertyRate,DiabetesRate,FemaleSmokers,MaleSmokers,HandwashingFacilities,HospitalBedperThousand,LifeExpectancy
0,0.0,0.0,NaN,NaN,NaN,NaN,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83
1,0.0,0.0,NaN,NaN,NaN,0.0,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83
2,0.0,0.0,NaN,NaN,NaN,0.0,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83
3,0.0,0.0,NaN,NaN,NaN,0.0,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83
4,0.0,0.0,NaN,NaN,NaN,0.0,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83

In [14]:
# Return columns with Null values 
for column in df2.columns:
    print(f"Column {column} has {df2[column].isnull().sum()} null values")

Column TotalCase has 274 null values
Column TotalDeath has 274 null values
Column TotalTest has 19639 null values
Column NewTest has 20039 null values
Column TestUnits has 18242 null values
Column StringencyIndex has 5196 null values
Column Date_FirstCase has 0 null values
Column DateSinceFirstCase has 0 null values
Column Population has 0 null values
Column Population_Density has 1200 null values
Column AverageAge has 2635 null values
Column Aged_65_Older has 3004 null values
Column Aged_70_Older has 2768 null values
Column GDPperCapita has 3050 null values
Column ExtremePovertyRate has 11524 null values
Column DiabetesRate has 1758 null values
Column FemaleSmokers has 7820 null values
Column MaleSmokers has 8062 null values
Column HandwashingFacilities has 16794 null values
Column HospitalBedperThousand has 4872 null values
Column LifeExpectancy has 220 null values

In [15]:
# Retrun df duplicates
print(f"Duplicate entries: {df2.duplicated().sum()}")

Duplicate entries: 2600

In [17]:
# Display Dataframe
df2.head()

,TotalCase,TotalDeath,TotalTest,NewTest,TestUnits,StringencyIndex,Date_FirstCase,DateSinceFirstCase,Population,Population_Density,...,Aged_65_Older,Aged_70_Older,GDPperCapita,ExtremePovertyRate,DiabetesRate,FemaleSmokers,MaleSmokers,HandwashingFacilities,HospitalBedperThousand,LifeExpectancy
0,0.0,0.0,NaN,NaN,NaN,NaN,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83
1,0.0,0.0,NaN,NaN,NaN,0.0,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83
2,0.0,0.0,NaN,NaN,NaN,0.0,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83
3,0.0,0.0,NaN,NaN,NaN,0.0,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83
4,0.0,0.0,NaN,NaN,NaN,0.0,2020-02-25,0,38928341,54.422,...,2.581,1.337,1803.987,NaN,9.59,NaN,NaN,37.746,0.5,64.83

In [18]:
# Categorical variable list
df2_cat = df2.dtypes[df.dtypes == "float64"].index.tolist()
df2_cat

['TotalCase',
 'TotalDeath',
 'TotalTest',
 'NewTest',
 'StringencyIndex',
 'Population_Density',
 'AverageAge',
 'Aged_65_Older',
 'Aged_70_Older',
 'GDPperCapita',
 'ExtremePovertyRate',
 'DiabetesRate',
 'FemaleSmokers',
 'MaleSmokers',
 'HandwashingFacilities',
 'HospitalBedperThousand',
 'LifeExpectancy']

In [19]:
# Unique numbers
df2[df2_cat].nunique()

TotalCase                 8777
TotalDeath                2944
TotalTest                 8362
NewTest                   5625
StringencyIndex            156
Population_Density         198
AverageAge                 132
Aged_65_Older              182
Aged_70_Older              181
GDPperCapita               182
ExtremePovertyRate          72
DiabetesRate               140
FemaleSmokers              106
MaleSmokers                121
HandwashingFacilities       91
HospitalBedperThousand      99
LifeExpectancy             197
dtype: int64